# Python
__pycache__
*.py[cod]
.ipynb_checkpoints

# Data
data
**/catboost_cached_datasets/**
*.bin
*.csv
*.cbm
*.npy
*.pickle
*.pt
*.pth
*.rar
*.tar*
*.tmp
*.zip
events.out.tfevents.*

# Output
output/**/*.*
!output/**/stats.json
!output/**/*.toml

# Other
draft/
