# development
black==22.3.0
coverage[toml]
flake8==4.0.1
flit==3.7.1
ipdb
isort==5.10.1
mypy==0.960
pre-commit-hooks==4.2.0
pytest

# docs
# it is important to freeze the version because the option -W is used for sphinx-build
sphinx==4.2.0
sphinx-copybutton
sphinx-material
sphinxcontrib-spelling==7.5.0

# other
jupyterlab
