# development
black
coverage
flake8
flit
ipdb
isort
mypy
pre-commit-hooks
pytest

# docs
# it is important to freeze the version because the option -W is used for sphinx-build
sphinx==4.2.0
sphinx-copybutton
sphinx-material
sphinxcontrib-spelling

# other
jupyterlab
